.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .wrapper {
    padding: 0 20px;
  }
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color: #D7F5F3;
  scale: 1.1;
}

.ptl {
  top: 0;
  left: 0;
}
@media (max-width: 900px) {
  .ptl {
    top: 30%;
    left: -15%;
  }
}

.pt {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 900px) {
  .pt {
    left: 30%;
  }
}

.ptr {
  top: 0;
  right: 0;
}

.pr {
  top: 53%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.pbr {
  bottom: 0;
  right: 13%;
}
@media (max-width: 900px) {
  .pbr {
    bottom: -5%;
    right: 6%;
  }
}

.pb {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.pbl {
  top: 75%;
  left: 3%;
  transform: translateX(50%) translateY(-50%);
}
@media (max-width: 1066px) {
  .pbl {
    top: unset;
    bottom: -16%;
    left: 0%;
  }
}
@media (max-width: 900px) {
  .pbl {
    bottom: -20%;
    left: -10%;
  }
}
@media (max-width: 630px) {
  .pbl {
    bottom: -10%;
    left: -15%;
  }
}

.pl {
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes animateBlobType1 {
  0%, 100% {
    background: rgb(9, 112, 119);
    background: linear-gradient(168deg, rgb(9, 112, 119) 0%, rgb(245, 245, 245) 100%);
    border-radius: 30% 70% 56% 44%/64% 71% 29% 36%;
  }
  50% {
    background: rgb(191, 255, 128);
    background: linear-gradient(340deg, #dedcd9 0%, #e2b1de 100%);
    border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  }
}
@keyframes animateBlobType2 {
  0%, 100% {
    background: rgb(191, 255, 128);
    background: linear-gradient(340deg, rgb(191, 255, 128) 0%, rgb(128, 255, 191) 100%);
    border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  }
  50% {
    background: rgb(191, 255, 128);
    background: linear-gradient(340deg, #a3f65f 0%, #cf554a 100%);
    border-radius: 30% 70% 56% 44%/64% 71% 29% 36%;
  }
}
@keyframes animateBlobType3 {
  0%, 100% {
    background: rgb(215, 245, 243);
    background: linear-gradient(340deg, rgb(215, 245, 243) 0%, rgb(255, 175, 175) 100%);
    border-radius: 65% 35% 70% 30%/30% 54% 46% 70%;
  }
  50% {
    background: rgb(9, 112, 119);
    background: linear-gradient(168deg, #3548b0 0%, rgb(245, 245, 245) 100%);
    border-radius: 30% 70% 56% 44%/64% 71% 29% 36%;
  }
}
.header {
  padding: 2.5em 0;
}
@media (max-width: 666px) {
  .header {
    padding: 1.25em 0;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 666px) {
  .header__content {
    align-items: flex-start;
  }
}
.header__content--logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__content--nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.875em;
}
@media (max-width: 666px) {
  .header__content--nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 0.3125em;
  }
}
.header__content--nav a {
  font-size: 1.125rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 666px) {
  .header__content--nav a {
    font-size: 1rem;
  }
}
.header__content--nav a:hover {
  color: #D7F5F3;
}
.header__content--nav a:hover::after {
  width: 100%;
}
.header__content--nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0;
  background-color: #D7F5F3;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 666px) {
  .header__content--nav a::after {
    bottom: 0;
    height: 1px;
  }
}

.footer {
  margin-top: auto;
  padding: 3.625em 0 1.375em;
}
@media (max-width: 666px) {
  .footer {
    padding: 1.25em 0;
  }
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 666px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 1.25em;
  }
}
.footer__content--nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 0.125em;
}
.footer__content--nav a {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 666px) {
  .footer__content--nav a {
    font-size: 0.875rem;
  }
}
.footer__content--nav a:hover {
  color: #D7F5F3;
}
.footer__content--nav a:hover::after {
  width: 100%;
}
.footer__content--nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #D7F5F3;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 666px) {
  .footer__content--copyrights {
    font-size: 0.75rem;
  }
}
.footer__content--copyrights a {
  font-size: 0.875rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 666px) {
  .footer__content--copyrights a {
    font-size: 0.75rem;
  }
}
.footer__content--copyrights a:hover {
  color: #D7F5F3;
}

.primary-cta {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  border-radius: 40px;
  border: none;
  padding: 0.75em 2.5em;
  background: none;
  position: relative;
  overflow: hidden;
  transition: 0.1s, scale 0.3s;
}
@media (max-width: 1240px) {
  .primary-cta {
    font-size: 1rem;
  }
}
@media (max-width: 666px) {
  .primary-cta {
    font-size: 0.9375rem;
  }
}
.primary-cta:hover {
  color: #070707;
  font-style: italic;
  font-weight: 400;
  scale: 0.9;
}
.primary-cta:hover::after {
  height: 100%;
}
.primary-cta::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #D7F5F3;
  z-index: -2;
}
.primary-cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0;
  bottom: 0;
  border-radius: 40% 70% 30% 30%;
  background-color: #FFAFAF;
  z-index: -1;
  transition: 0.3s;
}

.blobs {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blobs .blob {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(255, 255, 255, 0.25) 0 5px 4px;
  position: absolute;
}
@media (max-width: 700px) {
  .blobs .blob {
    width: 100px;
    height: 100px;
  }
}
.blobs .blob:nth-child(1n+1) {
  background: rgb(9, 112, 119);
  background: linear-gradient(168deg, rgb(9, 112, 119) 0%, rgb(245, 245, 245) 100%);
  border-radius: 30% 70% 56% 44%/64% 71% 29% 36%;
  -webkit-animation: animateBlobType1 15s infinite;
  -moz-animation: animateBlobType1 15s infinite;
  -ms-animation: animateBlobType1 15s infinite;
  -o-animation: animateBlobType1 15s infinite;
  animation: animateBlobType1 15s infinite;
}
.blobs .blob:nth-child(2n+1) {
  background: rgb(191, 255, 128);
  background: linear-gradient(340deg, rgb(191, 255, 128) 0%, rgb(128, 255, 191) 100%);
  border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  -webkit-animation: animateBlobType2 15s infinite;
  -moz-animation: animateBlobType2 15s infinite;
  -ms-animation: animateBlobType2 15s infinite;
  -o-animation: animateBlobType2 15s infinite;
  animation: animateBlobType2 15s infinite;
}
.blobs .blob:nth-child(3n+1) {
  background: rgb(215, 245, 243);
  background: linear-gradient(340deg, rgb(215, 245, 243) 0%, rgb(255, 175, 175) 100%);
  border-radius: 65% 35% 70% 30%/30% 54% 46% 70%;
  -webkit-animation: animateBlobType3 15s infinite;
  -moz-animation: animateBlobType3 15s infinite;
  -ms-animation: animateBlobType3 15s infinite;
  -o-animation: animateBlobType3 15s infinite;
  animation: animateBlobType3 15s infinite;
}
.blobs .blob span {
  color: #000;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  font-size: 0.75rem;
}
.landing-page {
  padding: 5em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: -0.625em;
  text-align: center;
}
@media (max-width: 1140px) {
  .landing-page__content {
    padding: 0em 1.25em;
  }
}
.landing-page__content--title, .landing-page__content--subtitle {
  font-size: 4.5rem;
  font-weight: 700;
  max-width: 1230px;
}
@media (min-width: 887px) {
  .landing-page__content--subtitle {
    line-height: 2rem;
  }
}
.landing-page__content--label {
  color: #FFAFAF;
  font-weight: 700;
  font-size: 4.5rem;
  font-style: italic;
}
@media (max-width: 1240px) {
  .landing-page__content--title, .landing-page__content--subtitle, .landing-page__content--label {
    font-size: 3.125rem;
  }
}
@media (max-width: 666px) {
  .landing-page__content--title, .landing-page__content--subtitle, .landing-page__content--label {
    font-size: 2.75rem;
  }
}
@media (max-width: 440px) {
  .landing-page__content--title, .landing-page__content--subtitle, .landing-page__content--label {
    font-size: 2.375rem;
  }
}
.landing-page__content--description {
  margin-top: 1.875em;
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 780px;
}
@media (max-width: 1240px) {
  .landing-page__content--description {
    font-size: 1rem;
  }
}
@media (max-width: 666px) {
  .landing-page__content--description {
    font-size: 0.9375rem;
  }
}
.landing-page__content--cta {
  margin-top: 1.875em;
}
@media (max-width: 900px) {
  .landing-page__content--cta {
    z-index: 3;
  }
}
.landing-page__blobs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 90%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 1340px) {
  .landing-page__blobs {
    min-width: 50%;
    max-width: 70%;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #070707;
  color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #FFF;
  text-decoration: none;
}

a, button {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background: #FFAFAF;
  color: #070707;
}

/*# sourceMappingURL=main.css.map */
