@import './utils/variables'
@import './utils/mixins'
@import './utils/functions'
@import './utils/classes'

@import './components/header'
@import './components/footer'

@import './views/landing-page'


*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: inherit

html
  box-sizing: border-box

body
  font-family: $primaryFont
  background-color: $mainBackground
  color: $primaryColor

a
  color: $primaryColor
  text-decoration: none

